@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Lalezar';

@import 'variables';
@import 'mixins';

body, html {
  height: 100%;
}

body {
  background-color: $body-bg;
  font-family: 'Open Sans Condensed', sans-serif;

}
