
.flex-container {
  display: flex;
}



.flex-quote {
  align-items: center;
  justify-content: center;

  p {
    width: 70%;
    font-size: 28px;
    line-height: 1.7em;
    font-family: 'Open Sans Condensed', sans-serif;

  }
}

.flex-button {
  justify-content: flex-end;

  a {
    background-color: #67D5B5;
    padding: 15px 75px;
    margin-bottom: 40px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: background-color 250ms ease-in-out;
    text-transform: uppercase;

    &:hover {
      background-color: lighten(#67D5B5, 10%);
    }
  }
}
